USE [master]
GO
/****** Object:  Database [BDFE401]    Script Date: 19/06/2018 08:04:30 ******/
CREATE DATABASE [BDFE401]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDFE401', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MS_SQL\MSSQL\DATA\BDFE401.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDFE401_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MS_SQL\MSSQL\DATA\BDFE401_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDFE401].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDFE401]
GO
USE [BDFE401]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 19/06/2018 08:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[numruc] [varchar](11) NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 19/06/2018 08:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 19/06/2018 08:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[categoria] [varchar](100) NULL,
	[precio] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 19/06/2018 08:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecventa] [datetime] NULL,
	[idCliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id], [nombre], [numruc], [direccion], [telefono]) VALUES (1, N'ACS INDUSTRIA METAL MECANICA E.I.R.L.', N'20458127400', N'LIMA', N'999888101')
INSERT [dbo].[cliente] ([id], [nombre], [numruc], [direccion], [telefono]) VALUES (2, N'AQUILES MARCELINO AGUILAR ZACARÍAS', N'10161204396', N'LIMA', N'999888102')
INSERT [dbo].[cliente] ([id], [nombre], [numruc], [direccion], [telefono]) VALUES (3, N'ATLAS MOTOS E.I.R.LTDA.', N'20406502377', N'PUNO', N'999888103')
SET IDENTITY_INSERT [dbo].[cliente] OFF
SET IDENTITY_INSERT [dbo].[detalle] ON 

INSERT [dbo].[detalle] ([id], [idVenta], [idProducto], [cantidad]) VALUES (1, 4, 13, 11)
INSERT [dbo].[detalle] ([id], [idVenta], [idProducto], [cantidad]) VALUES (2, 4, 25, 5)
INSERT [dbo].[detalle] ([id], [idVenta], [idProducto], [cantidad]) VALUES (4, 5, 3, 5)
SET IDENTITY_INSERT [dbo].[detalle] OFF
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([id], [descripcion], [categoria], [precio]) VALUES (1, N'TE DHARAMSALA', N'BEBIDAS', 18.0000)
INSERT [dbo].[producto] ([id], [descripcion], [categoria], [precio]) VALUES (2, N'CERVEZA TIBETANA BARLEY', N'BEBIDAS', 19.0000)
INSERT [dbo].[producto] ([id], [descripcion], [categoria], [precio]) VALUES (3, N'SIROPE DE REGALIZ', N'CONDIMENTOS', 10.0000)
SET IDENTITY_INSERT [dbo].[producto] OFF
SET IDENTITY_INSERT [dbo].[venta] ON 

INSERT [dbo].[venta] ([id], [fecventa], [idCliente]) VALUES (1, CAST(N'2018-06-12T16:45:43.000' AS DateTime), 2)
INSERT [dbo].[venta] ([id], [fecventa], [idCliente]) VALUES (2, CAST(N'2018-06-12T16:49:54.000' AS DateTime), 5)
INSERT [dbo].[venta] ([id], [fecventa], [idCliente]) VALUES (3, CAST(N'2018-06-12T16:52:07.000' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[venta] OFF
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([id])
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD FOREIGN KEY([idVenta])
REFERENCES [dbo].[venta] ([id])
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[cliente] ([id])
GO
USE [master]
GO
